.class {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.classContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1.25rem;
}

.classMain {
  text-align: left;
  max-width: 550px;
}

.classMain p {
  font-size: 1.125em;
  color: #646b6b;
}

.mainPic {
  min-width: 350px;
  max-width: 550px;
  margin-top: 50px;
}

.signButton {
  background-color: #e8946e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.priceContainer {
  background-color: #f8f7f3;
  padding: 3rem;
}

.priceCards {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px lightgray;
  margin: auto;
  max-width: 1280px;
}

.priceCard {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  background-color: #e7f0f0;
  width: 100%;
}

.priceCardHeader {
  background-color: #2c3737;
  color: #e7f0f0;
  font-weight: bold;
  font-size: 1.25em;
  padding: 2rem;
}

.priceCardType {
  background-color: rgb(180, 230, 215, 0.4);
  font-weight: bold;
  font-size: 1em;
  padding: 1.5rem;
}

.priceCardDesc {
  text-align: left;
  max-width: 250px;
  margin: 0 auto;
}

ul li {
  margin-bottom: 15px;
}

.priceCardRate {
  font-size: 1.125em;
  font-weight: 600;
  padding: 1.25rem;
}

.priceCard button {
  color: white;
  width: 150px;
  margin: 10px auto 40px auto;
  background-color: #e8946e;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.class form {
  padding: 3.125rem !important;
  max-width: 550px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .classContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .classMain {
    text-align: center;
  }

  .priceCards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
