.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1280px;
}

.homeMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  text-align: left;
  max-width: 550px;
}

.home .homePic {
  min-width: 350px;
  max-width: 600px;
  margin-top: 50px;
}

.signButton {
  background-color: #e8946e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  max-width: 350px;
}

.signButton:hover {
  cursor: pointer;
}

.testimony {
  display: grid;
  max-width: 450px;
  padding: 3rem;
  border-top: 10px solid #fec667;
  background-color: #f8f7f3;
  color: #2c3737;
}

.testimony p {
  font-style: italic;
  opacity: 85%;
  color: #2c3737;
}

@media only screen and (max-width: 600px) {
  .homeMain {
    align-items: center;
  }
  .homeContainer {
    flex-direction: column;
  }
}
