.registrationDescription {
  padding: 1.25rem;
}

.registrationDescription p {
  font-size: 1.125em;
  color: #646b6b;
}

.tutorBirdRegContainer {
  max-width: 550px;
  margin: auto;
  padding: 1rem;
}
